<!--<%= form_for(@comment) do |f| %>
<ul>
	<li><%= f.label 'Tu nombre:' %> <%= f.text_field :nick, class:'form-control', placeholder: 'Escribe tu nombre' %></li>
	<li></li>
	<li><%= f.label 'Escribe tu comentario:' %></li>
	<li><%= f.text_area :comment, placeholder: "Opina sobre este artículo...", cols: 70, rows: 4 ,class:'form-control' %></li>
	<li><%= f.hidden_field :article_id, :value => @article.id %></li>
	<li><%= f.submit "Añadir Comentario", class: "btn btn-default" %></li>
</ul>
<% end %>-->

<%= form_for(@comment) do |f| %>


<div class="input-group input-group-sm separar_v_8">
  <span class="input-group-addon" id="">Nombre</span>
  <%= f.text_field :nick, class:'form-control', placeholder: 'Escribe tu nombre' %>
</div>
<div class="input-group input-group-sm separar_v_8">
  <span class="input-group-addon" id="basic-addon2">Contraseña</span>
  <%= f.text_field :secret_word, class:'form-control', placeholder: 'Escribe la palabra secreta para comentar' %>
</div>

<div class="separar_v_8">
  <%= f.text_area :comment, placeholder: "Opina sobre este artículo...", class:'form-control' %>
</div>

<%= f.hidden_field :article_id, :value => @article.id %>  

<div class="text-center separar_v_8">
  <%= f.submit "Añadir Comentario", class: "btn btn-primary btn-lg" %>
</div>

<% end %>