<%= tinymce %>
<h1>Editar artículo</h1>
<ul>
<%= form_for(@article, html: { multipart: true }) do |f| %>
	
	<li><%= f.label 'Título'%></li>
	<li><%= f.text_field :title , size:60 %></li>
	<li><%= f.hidden_field :baby_id, value: session[:baby] %></li>
	<li><%= f.hidden_field :user_id, value: current_user.id %></li>
	<li><%= f.label 'Cuerpo'%></li>
	<li><%= f.text_area :body, class: "tinymce", rows: 10 %></li>
	<li>Imagenes</li>
</ul>
	<div style="margin:0px 20px 0px 20px; overflow:hidden; position:relative; width:800px%;">
	<% @article.images.each do |img| %>
	
			<div style="float:left; margin:5px 8px 0px 8px">
				<p style="text-align:center"><%= link_to 'Borrar', img, method: :delete, data: {confirm: "¿Estás segur@ de querer borrar esta imagen?"} %> </p>
				<%= image_tag img.newimg.url(:thumb)  %> 
				<p style="text-align:center">
					<% if img.main then %> 
						Principal 
					<% else %>
						<%= link_to 'Hacer Principal', image_path(img), method: :patch %>
					<% end %>
				</p>
				
			</div>
		

		<% end %>
		</div>

<ul>
	<li><%= f.file_field :newimg , multiple: true %></li>
	
	<li><%= f.submit 'Editar Artículo' , class: 'bigbutton' %></li>

	
<% end %>
