
<div class="row">
  <div class="col-md-7 col-md-offset-1">
			<!-- <h2>ARTÍCULOS DE MI BLOG</h2> -->
			<% @articles.each do |art| %>
						
				<div class="art_body">
						<h2><%= link_to art.title, art %></h2>
						<p>
							Escrito por <%= image_tag 'irenemp_s.jpg', class:'img-circle', width: 25 %> <strong><%= art.user.nick %></strong> el <%= art.created_at.strftime("%d/%m/%Y %H:%M") %> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
						</p>
						
						<p>
							<% art.images.each do |img| %>
								<%= if img.main == true then link_to (image_tag (img.newimg(:high))), img  end %>
							<% end %>
						</p>
						<p>
							<% art.images.each do |img| %>
								<%= if img.main == false || img.main.blank? then link_to (image_tag (img.newimg(:thumb))), img end %>
							<% end %>
						</p>
						<p><%= art.body_short %> ... <%= link_to 'leer más', art %></p>
						<div>
							<a href="<%= article_path(art) %>">
								Comentarios <span class="badge"><%= art.comments.count %></span>
							</a>
							<div id="social">
								<%= render partial:'socialmedia' ,locals: {art: art} %>
							</div>
						</div>
				</div>
				<hr>
		<% end %>
		
		<div id="will_paginate"><%= will_paginate @articles %></div>
	</div>
		
	<div class="col-md-3">
		<%= render 'columnright' %>
	</div>

</div>