<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-center"><%= @article.title %></h2>
    <% @article.images.each do |img| %>
      <div class="text-center">
        <%= if img.main == true then link_to (image_tag (img.newimg(:high))), img  end %>
      </div>

    <% end %>
    <div class="art_body">
    	<p><%= @article.body.html_safe %></p>

    	<% @article.images.each do |img| %>
    		<%= if img.main == false then link_to (image_tag (img.newimg(:thumb))), img  end %>
    	<% end %>
    </div>
    <hr>
    <h3>Comentarios</h3>
    <div><%= render 'comments/comments_form' %></div>
    <div id="article_comments">
    	<%= render @comments %>
    </div>
  </div>
</div>
