<div align="center">
<h1>Bienvenido</h1>
	<%= form_for(:visitants, url: visitants_path) do |f| %>
		<li><%= f.label 'Bebé' %></li>
		<li><%= f.text_field :nick ,class: "big_input_text" %></li>
		<li><%= f.label 'Contraseña' %></li>
		<li><%= f.password_field :password, class: "big_input_text" %></li>
		<li><%= f.submit 'ENTRAR', class: "bigbutton" %></li>
	<% end %>
</div>