
<h3>Twitter</h3>
  <a class="twitter-timeline" href="https://twitter.com/<%= ENV['TWITTER_ID'] %>" data-widget-id="580685002536558594">Tweets por el @<%= ENV['TWITTER_ID'] %>.</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<h3>Nuestras Imágenes</h3>
<div id="ultimas_imagenes">
  <% @imagenes.each do |img| %>
    <%= image_tag(img.newimg(:thumb),style:'width:125px',class:'img-thumbnail img-popup', data: img.newimg(:high)) %>
  <% end %>
	
</div>

<h3>Últimos Comentarios</h3>
<div id="ultimos_comentarios">
	<ul>
	<% @comments.each do |cmt| %>
		<li>- <%= link_to(write_by(cmt), articulo_path(cmt.article))%> </li>
	<% end %>
	</ul>
</div>

<h3>Entradas Recientes</h3>
<div id="articulos_recientes">
  <ul>
    <% @lastArticles.each do |art| %>
      <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true" size="10"></span> <em><%= link_to art.title, articulo_path(art), class: '' %></em></li> 
    <% end %>
  </ul>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Right Column -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2876476270215944"
     data-ad-slot="5398087116"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>