<%= tinymce %>
<h1>Modificar Bebé</h1>
<%= form_for(@baby, html: { multipart: true }) do |f| %>
	<li><%= f.label 'Nombre del bebé'%></li>
	<li><%= f.text_field :name%></li>
	<li><%= f.label 'Nick de acceso al bebé'%></li>
	<li><%= f.text_field :nick%></li>

	<li><%= f.label 'Antiguo Password de acceso al bebé'%></li>
	<li><%= f.password_field :password_old %></li>
	<li><%= f.label 'Nuevo Password de acceso al bebé'%></li>
	<li><%= f.password_field :password %></li>
	<li><%= f.label 'Confirmación Nuevo de Password'%></li>
	<li><%= f.password_field :password_confirmation %></li>

	<li>Imagen</li>
	<li><%= image_tag @baby.babyphoto.url(:thumb) %><%= f.file_field :babyphoto , multiple: false %></li>
	<li><%= f.label 'Descripción'%></li>
	<li><%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 10 %></li>
	<li><%= f.submit 'Modificar bebé' %></li>
<% end %>