<h1>Artículos</h1>
<%= will_paginate %>
<% @articles.each do |art| %>
	<h2><%= link_to art.title, art %></h2>
	Fecha: <%= art.created_at.strftime("%m/%d/%Y") %>
	<p>Número imágenes <%= art.images.count %></p>
	<% art.images.each do |img| %>
		<%= if img.main == true then image_tag img.newimg.url(:medium) end %>
	<% end %>
	<p><%= art.body_short %> ... <%= link_to 'leer más', art %></p>
<% end %>
<%= will_paginate %>