<%= tinymce %>
<h1>Crear Bebé</h1>
<%= form_for(@baby, html: { multipart: true }) do |f| %>
	<li><%= f.label 'Nombre del bebé'%></li>
	<li><%= f.text_field :name%></li>
	<li><%= f.label 'Nick de acceso al bebé'%></li>
	<li><%= f.text_field :nick%></li>

	<li><%= f.label 'Password de acceso al bebé'%></li>
	<li><%= f.password_field :password %></li>
	<li><%= f.label 'Confirmación de Password'%></li>
	<li><%= f.password_field :password_confirmation %></li>

	<li>Imagen</li>
	<li><%= f.file_field :babyphoto , multiple: false %></li>
	<li><%= f.label 'Descripción'%></li>
	<li><%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 10 %></li>
	<li><%= f.submit 'Agregar' %></li>
<% end %>