<%= tinymce %>
<%= form_for(:parent, url: parents_path) do |f| %>
	<div id="parents">
		<div id="father-mother" >
				<li><%= f.label 'Nombre del padre'%></li>
				<li><%= f.text_field :parent1_name , value: @parents.parent1_name %></li>
				<li>Foto del padre<br> <%= image_tag @parents.parent1_photo.url(:thumb) %></li>
				<li><%= f.file_field :parent1_photo , multiple: false %></li>
				<li><%= f.label 'Descripción del Padre'%></li>
				<li><%= f.text_area :parent1_desc, :class => "tinymce", :rows => 2, :cols => 10, value: @parents.parent1_desc %></li>
		</div>
		<div id="father-mother" >
			<li><%= f.label 'Nombre de la madre'%></li>
			<li><%= f.text_field :parent2_name, value: @parents.parent2_name %></li>
			<li>Foto de la madre<br><%= image_tag @parents.parent2_photo.url(:thumb) %></li>
			<li><%= f.file_field :parent2_photo , multiple: false %></li>
			<li><%= f.label 'Descripción de la Madre'%></li>
			<li><%= f.text_area :parent2_desc, :class => "tinymce", :rows => 2, :cols => 10, value: @parents.parent2_desc %></li>
		</div>

		
		
	</div>
	<div id="how_we_met">
			<li><%= f.label 'Historia de la pareja'%></li>
			<li><%= f.text_area :how_we_met, :class => "tinymce", :rows => 10, :cols => 10, value: @parents.how_we_met %></li>
			
		</div>
	
	<li><%= f.submit 'Agregar' %></li>


<% end %>