<h1>ENVÍANOS UN MENSAJE</h1>
<div align="center">
    <ul class="list-group">
        <%= form_for(:contact, url:{action: "create"},class: 'form-control' ) do |f|%>
	        <li><%= f.label 'Nombre' , class: '' %></li>
    			<li><%= f.text_field :name , value: @name ,class: "form-control" %></li>
    			<li><%= f.label 'Mensaje' %></li>
    			<li><%= f.text_area :msg ,value: @msg, class: "form-control", rows: 6, cols: 40 %></li>
    			<li><%= f.submit 'ENVIAR' , class: "btn btn-primary btn-lg" %></li>
       <% end %>
    </ul>
</div>
