<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  
  <script type="text/javascript" src="/assets/tinymce.js"></script>
  <%= tinymce_assets %>
</head>
<body>
  <% if !session[:visitant].nil? %> 
            <div id="medmenu"><%= render 'layouts/menu' %></div>
            <div style="padding-top:100px"></div>
      <% end %> 
  <nav id="topnav"><%= render 'layouts/topmenu' %></nav>
   
    <div id="content">
      
        <% flash.each do |key,value| %>
          <div class="msg_<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
    </div>


 <div style="background-color:#dfdbdd; color:#000">
      <%= debug(params) if Rails.env.development? %>
  </div>
<div id="footer"><%= render 'layouts/footer' %></div>
</body>
</html>
